* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

/**Header Component*/
.navbar {
  background: #8dadaf;
  z-index: 1;
  text-transform: capitalize;
}
.navbar .nav-link {
  color: rgb(231, 226, 221) !important;
  font-size: 18px;
  font-weight: bold;
  text-transform: capitalize;
}
.btn-link {
  color: rgb(231, 226, 221) !important;
  text-transform: capitalize;
  font-size: 18px;
  font-weight: bold;
}

/*Login+Signup Component*/
.header {
  color: #8dadaf;
  font-size: 1.5rem;
  font-weight: bold;
  font-family: Helvetica, sans-serif;
}
.active-header {
  color: rgb(0, 172, 193);
  font-weight: bold;
  text-decoration: none;
  border-bottom: 5px dotted #a1b1b3;
  font-size: 1.5rem;
  font-weight: bold;
  font-family: Helvetica, sans-serif;
}
.header:hover {
  text-decoration: none;
  color: #8dadaf;
}
.active-header:hover {
  text-decoration: none;
  color: rgb(0, 172, 193);
}

.loginbtn:focus {
  outline: none !important;
}

